<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Asunto</th>
			<th scope="col">Asignado a</th>
			<th scope="col">Prioridad</th>
			<th scope="col">Estado</th>
			<th scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody>
		@for (ticket of tickets; track ticket) {
			<tr>
				<th scope="row">{{ ticket.id }}</th>
				<td>{{ ticket.subject }}</td>
				<td>{{ ticket.assigned_to }}</td>
				<td>
					<dsb-badge-atom
						[text]="ticket.priority"
						[type]="priorityMap[ticket.priority]">
					</dsb-badge-atom>
				</td>
				<td>
					<dsb-badge-atom
						[text]="ticket.status"
						[type]="statusMap[ticket.status]">
					</dsb-badge-atom>
				</td>
				<td>{{ ticket.date }}</td>
			</tr>
		}
	</tbody>
</table>
